@use './partials/variables' as *;


body {
    font-family: $font;
    background-color: red;
  }

  h1 {
    color: blue;
    font-weight: bold;
  }

  .fa-circle {
    color: blue;
    font-size: 25px;
    margin: 0 15px;
  }

  